.root {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

header {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.formMovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

header h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 5px;
}

input {
  height: 3em;
  width: 70%;
  font-weight: bold;
  padding: 7px;
  background-color: #000;
  border: 1px solid #ffffff36;
  border-radius: 5px;
}

input:hover {
  border-color: #ffffff9d;
}

input:focus {
  outline: none;
  border-color: #ffffffda;
}

button {
  width: 50%;
  height: 3em;
  background-color: #0d1224e1;
  border: 1px solid #ffffff36;
  border-radius: 5px;
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  border-color: #ffffff9d;
}

/* Main */

main {
  display: flex;
  justify-content: center;
}

main h3 {
  margin: 0;
}

main p {
  margin: 0;
}

ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto(1fr);
  justify-content: center;
  gap: 1em;
}

li {
  display: grid;
  gap: 0.5em;
  height: max-content;
  width: 100%;
}